
 <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
 <link href="https://kit.fontawesome.com/a076d05399.js" rel="stylesheet">

<router-outlet></router-outlet>


<div class="moon">
<i class="{{icon}}" aria-hidden="true" [ngStyle]="{color: get_them()}" style="font-size: 1.3rem;" (click)="myFunction()" ></i>
</div>

<div class="settings">
<!-- <i class="fa fa-cog" aria-hidden="true" [ngStyle]="{color: get_them()}" style="font-size: 1.5rem;" ></i> fa fa-eye -->

<i class="fa-solid fa-palette" aria-hidden="true" [ngStyle]="{color: get_them()}" style="font-size: 1.3rem;" ></i>
<!-- fa fa-magic -->   <!-- fa fa-tint -->     <!-- fa fa-paint-brush --><!-- fa-solid fa-palette --><!-- fa-solid fa-paint-roller -->


</div>


<div id="{{menusettingscolor}}"class="{{menusettings}}" >
    <br><br>
     <button id="green" (click)="green()" ></button>
     <button id="yellow" (click)="yellow()" ></button>
     <button id="orange" (click)="orange()" ></button>
     <button id="red" (click)="red()" ></button>
     <br>
     <button id="purple2" (click)="purple2()" ></button>
     <button id="pink" (click)="pink()" ></button>
     <button id="blue" (click)="blue()" ></button>
     <button id="purple1" (click)="purple1()" ></button>
     

</div>

