div.fileinputs {
	position: relative;
  font-size: 10px;left: 175px;
}

div.fakefile {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

input.file {
	position: relative;
	text-align: right;
	-moz-opacity:0 ;
	
	opacity: 0;
	z-index: 2;
}

.login{

    position: absolute;
    top: 23%;
    left: 28%;
    width:41%;
    height: 100%;
}

.pass{
  position: absolute;
  top: 34.5%;
  left: 93%;
}
.inp{

 
  padding-top: 00%;
    width:100%;
}

.inp1{

    position: relative;
    padding-top: 00%;
      width:98%; 
      
  }

  .inp2{

    position: relative;
    padding-top: 00%;
      width:100%;
  }

.butt{
  position: relative;
  padding-left: 39%;
  top: -2%;
  width:72%;
  height: 12%;
    
}



.p1{   
  
  padding-left: 12.5%;
  padding-top:0% ;
  font-size: 34px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}






.p2{   

  padding-left:27%;

  
  font-size: 15px;
  display: block;
  padding-top:1.5% ;

  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}



.p3{   
  position: relative;
  left: -249px;
  top: 50px;
  font-size: 13.3px;
}


.pimage{  
  position: relative;
  top: -3.3%;
  left: 30%;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.a{   
  padding: auto;
 text-decoration: none;
 font-size: 14.3px;
 font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}





#inpcolor1-green:focus {
  border: 2px solid #72b626;
}
#inpcolor2-green:focus {
  border: 2px solid #72b626;
}
.buttoncolor-green{
  background-color: #72b626;
  border: 2px solid #72b626;
}

#inpcolor1-blue:focus {
  border: 2px solid #4169e1;
}
#inpcolor2-blue:focus {
  border: 2px solid #4169e1;
}
.buttoncolor-blue{
  background-color: #4169e1;
  border: 2px solid #4169e1;
}

#inpcolor1-red:focus {
  border: 2px solid #da3939;
}
#inpcolor2-red:focus {
  border: 2px solid #da3939;
}
.buttoncolor-red{
  background-color: #da3939;
  border: 2px solid #da3939;
}

#inpcolor1-pink:focus {
  border: 2px solid #fc22fc;
}
#inpcolor2-pink:focus {
  border: 2px solid #fc22fc;
}
.buttoncolor-pink{
  background-color: #fc22fc;
  border: 2px solid #fc22fc;
}
#inpcolor1-purple1:focus {
  border: 2px solid #7111df;
}
#inpcolor2-purple1:focus {
  border: 2px solid #7111df;
}
.buttoncolor-purple1{
  background-color: #7111df;
  border: 2px solid #7111df;
}

#inpcolor1-purple2:focus {
  border: 2px solid #c579e3;
}
#inpcolor2-purple2:focus {
  border: 2px solid #c579e3;
}
.buttoncolor-purple2{
  background-color: #c579e3;
  border: 2px solid #c579e3;
}
#inpcolor1-yellow:focus {
  border: 2px solid #ffb400;
}
#inpcolor2-yellow:focus {
  border: 2px solid #ffb400;
}
.buttoncolor-yellow{
  background-color: #ffb400;
  border: 2px solid #ffb400;
}

#inpcolor1-orange:focus {
  border: 2px solid #fa5b0f;
}
#inpcolor2-orange:focus {
  border: 2px solid #fa5b0f;
}
.buttoncolor-orange{
  background-color: #fa5b0f;
  border: 2px solid #fa5b0f;
}



.form-contro-dark {
  
    display: block; 
    width:100%; 
   
    padding: .355rem 1rem;
    font-size: 1.2rem;
    font-weight: 500%;
    line-height: 1.5;
    color: #ffffff;
    background-color: #343434;
    background-clip: padding-box;
    border: 0.0px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.6rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    
  }

  .form-contro-dark:focus {
    
    padding: 0.372rem 0.72rem;
    background-color: #343434;
    outline: 0;
  }

.form-contro-white {
  
  display: block; 
  width:100%; 
  padding: .355rem 1rem;
  font-size: 1.2rem;
  font-weight: 500%;
  line-height: 1.5;
  color: #343434;
  background-color: #f2f2f2;
  background-clip: padding-box;
  border: 0.0px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.6rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  
}


.form-contro-white:focus {
    
    padding: 0.372rem 0.72rem;
    background-color: #f2f2f2;
    outline: 0;
  }









 


  #button-dark {
     
   
    padding: 3.5% 2.4%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration : 0.8s;
    cursor: pointer;
    border-radius: 10rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;   
    font-weight: 600;  
  }

  #button-dark:hover {
    background-color: #242526;
    color: white;    
    
 
  }




  #button-white {
     
    
    padding: 3.5% 2.4%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration : 0.8s;
    cursor: pointer;
    border-radius: 10rem;
    color: white;   
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;  
  }

  #button-white:hover {
    background-color: #f2f2f2;
    color: #242526;    
    
 
  }